<?xml version="1.0" encoding="utf-8"?>
<Project>
  <!-- Optional command-line override example for a non-standard local installation. -->
  <PropertyGroup>
    <NuclearOptionDir Condition="'$(NuclearOptionDir)' == ''">C:\Games\Nuclear Option</NuclearOptionDir>
    <NuclearOptionManagedDir Condition="'$(NuclearOptionManagedDir)' == ''">$(NuclearOptionDir)\NuclearOption_Data\Managed</NuclearOptionManagedDir>
  </PropertyGroup>
</Project>
